Repository Manotomo-Alliance-Support-Squad/coco-grad, pull requests merged in 2021-06, with the labels that each got.

#13 Refactor fade-in effect, update style for standalone anchor
  frontend/src/components/anchor/anchorSection.css
  frontend/src/components/anchor/anchorStandaloneBotan.tsx
  frontend/src/components/fadeInSection/fadeInSection.css
  frontend/src/components/fadeInSection/fadeInSection.tsx
  frontend/src/components/projectSection/projectCard.css
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#15 Bugfix/fix card clipping issue
  frontend/public/index.html
  frontend/src/shared/components/baseCard/baseCard.css
Labels: bug

#14 change metadata to reflect coco site instead of aqua site
  frontend/public/index.html
Labels: enhancement, frontend

#17 remove old assets and add new card footer
  frontend/src/assets/cards/AKUKIN_Card_Header.png
  frontend/src/assets/cards/AKUKIN_Card_Header1.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_10.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_12.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_14.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_6.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_8.png
  frontend/src/assets/cards/AKUKIN_Card_footer.png
  frontend/src/assets/cards/coco_card_footer-Rara.png
  frontend/src/pages/home/home.css
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/globalStyles/global.css
Labels: enhancement, frontend

#16 change project information
  frontend/src/assets/thumbnails/gamethumbnail.png
  frontend/src/components/anchor/anchorSection.css
  frontend/src/components/projectSection/imageCard.css
  frontend/src/components/projectSection/imageCard.tsx
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#20 Feature/update project data
  frontend/src/pages/home/home.tsx
Labels: bug, frontend

#25 Add new projects and placeholders
  frontend/src/assets/thumbnails/animationthumbnail.png
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#31 Revert to transforms to fix fade-in clipping
  frontend/src/App.tsx
  frontend/src/components/fadeInSection/fadeInSection.css
  frontend/src/pages/home/home.css
Labels: bug, frontend

#33 add new projects!
  frontend/src/assets/thumbnails/pheelgag.png
  frontend/src/assets/thumbnails/randomcoco.png
  frontend/src/components/projectSection/projectCard.css
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#36 add thumbnail and link to project card
  frontend/src/assets/thumbnails/2d2c.webp
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#35 fix footer overflow issue and message card text affecting viewport width
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/index.css
Labels: bug, frontend

#42 Fix card clipping issue and scroll issue on message section
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: bug, enhancement, frontend

#37 fix IOS webp issue and add kaichou project link
  frontend/src/assets/thumbnails/2d2c.jpg
  frontend/src/assets/thumbnails/2d2c.webp
  frontend/src/assets/thumbnails/cococord.png
  frontend/src/assets/thumbnails/kaichouproject.png
  frontend/src/assets/thumbnails/kiryu-kai.png
  frontend/src/assets/thumbnails/strongestluknights.jpg
  frontend/src/pages/home/home.tsx
Labels: bug, enhancement, frontend

#40 Fix card clipping during fade-in-slide-up animation
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: bug, frontend

#44 fix safari crash
  frontend/src/pages/home/home.tsx
Labels: bug, frontend
