Repository Manotomo-Alliance-Support-Squad/coco-grad, pull requests merged in 2021-07, with the labels that each got.

#48 Cleanup and refactor BaseCard, BaseSection, and FadeIn
  frontend/src/components/fadeInSection/fadeInSection.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: frontend

#47 Include artist portfolio links
  README.md
Labels: documentation

#45 update kiryu-kai project description and add jtron project
  frontend/src/pages/home/home.tsx
Labels: enhancement

#46 move diploma on-site
  frontend/src/assets/other/diploma_final.png
  frontend/src/pages/home/home.tsx
Labels: frontend

#50 Fix warnings
  frontend/src/components/anchor/anchorMultipleSection.tsx
  frontend/src/components/comboSection/comboSection.tsx
  frontend/src/components/fadeInSection/fadeInSection.tsx
  frontend/src/components/modals/credits/creditsModal/creditsModalButton.tsx
  frontend/src/components/projectSection/imageCard.tsx
  frontend/src/components/projectSection/projectCard.tsx
  frontend/src/components/videoSection/videoCard.tsx
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: frontend

#51 fix tl_msg overflow
  frontend/src/components/messageSection/messageCard/messageCard.css
Labels: bug, frontend

#53 Fix project cards clipping at low horizontal resolutions
  frontend/src/components/projectSection/projectCard.css
Labels: bug, frontend

#52 Fix username overlap with tl botan
  frontend/src/components/messageSection/messageCard/messageCard.css
Labels: bug, frontend

#55 Fix overflowing by adding max-width
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
Labels: bug, frontend

#56 fix low horizontal res view of cards to not be so strange-looking
  frontend/src/pages/home/home.css
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/globalStyles/global.css
Labels: bug, frontend
